<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SqlAuthenticationProviders" type="System.Data.SqlClient.SqlAuthenticationProviderConfigurationSection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v14.2, Version=14.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v14.2, Version=14.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v14.2, Version=14.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v14.2, Version=14.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <SqlAuthenticationProviders>
    <providers>
      <add name="Active Directory Interactive" type="Microsoft.Azure.Services.AppAuthentication.SqlAppAuthenticationProvider, Microsoft.Azure.Services.AppAuthentication" />
    </providers>
  </SqlAuthenticationProviders>
  <appSettings>
    <add key="DisableCertificates" value="Y" />
    <add key="ChartHttpHandler" value="Storage=memory;Timeout=180;Url=~/temp/;" />
    <add key="ValidPasswordCharacterCounts" value="1,1,1,0,7,0" />
    <add key="ValidPasswordMatchCount" value="3" />
    <!-- Settings for the uploader -->
    <add key="UploaderConnectionString" value="Name:DagDirectoryWWU" />
    <add key="MaxUploadSize" value="1048576000" />
    <add key="MaxChunkSize" value="5242880" />
    <add key="AppendSProc" value="uspAttachmentAppendData" />
    <add key="CheckSProc" value="uspAttachmentCheck" />
    <add key="EnableLogging" value="true" />
    <add key="DownloadHeaderSProc" value="uspAttachmentGetHeader" />
    <add key="DownloadDataSProc" value="uspAttachmentGetChunk" />
    <add key="DownloadChunkSize" value="1048576" />
    <!-- Settings for the Attachment control -->
    <add key="IconImageFolder" value="~/img/icons" />
    <!-- ========================= -->
    <add key="DAGYearFilter1" value="1 Mar 2017 - 28 Feb 2018" />
    <add key="DAGYearFilter2" value="17/18" />
    <add key="ForcedTimeout" value="60" />
    <add key="azure:storageAccount" value="yyy" />
    <add key="azure:keyVault" value="xxx" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <connectionStrings>
    <add name="DagDirectoryWWU" connectionString="server=tcp:sql-dagdev.database.windows.net;database=dagdevfull;UID=app;Encrypt=True;TrustServerCertificate=False;Authentication=Active Directory Interactive" providerName="System.Data.SqlClient" />
    <add name="PwCConnectionString" connectionString="server=tcp:sql-dagdev.database.windows.net;database=dagdevfull;UID=app;Encrypt=True;TrustServerCertificate=False;Authentication=Active Directory Interactive" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
		For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

		The following attributes can be set on the <httpRuntime> tag.
			<system.Web>
				<httpRuntime targetFramework="4.5.1" />
			</system.Web>
	-->
  <system.web>
    <sessionState timeout="120" />
    <httpRuntime targetFramework="4.7.2" />
    <customErrors mode="Off" />
    <compilation targetFramework="4.7.2">
      <assemblies>
        <add assembly="DevExpress.Web.v14.2, Version=14.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Data.v14.2, Version=14.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Printing.v14.2.Core, Version=14.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.RichEdit.v14.2.Core, Version=14.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="DevExpress.XtraCharts.v14.2, Version=14.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Charts.v14.2.Core, Version=14.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxThemes.v14.2, Version=14.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxHtmlEditor.v14.2, Version=14.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxSpellChecker.v14.2, Version=14.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Office.v14.2.Core, Version=14.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.SpellChecker.v14.2.Core, Version=14.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms name="DagDirectoryWWU" loginUrl="Login.htm" defaultUrl="Home.aspx" path="/" protection="All" timeout="120" requireSSL="true" enableCrossAppRedirects="false" cookieless="AutoDetect" />
    </authentication>
    <pages maintainScrollPositionOnPostBack="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="PwC.Common" />
      </namespaces>
      <controls>
        <add tagPrefix="pwc" namespace="PwC.Common.Controls" assembly="PwC" />
        <add tagPrefix="pwc" namespace="PwC.Core.Web.UI.Controls" assembly="PwC.Core" />
        <add tagPrefix="cc" namespace="PwC" assembly="PwC" />
        <add tagPrefix="ajaxToolKit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
      </controls>
    </pages>
    <httpHandlers>
      <!-- Custom HTTP Handlers for the uploader -->
      <add verb="POST" path="UploadHandler.ashx" type="UploaderV4.UploadHandler" />
      <add verb="GET" path="StatusHandler.ashx" type="UploaderV4.StatusHandler" />
      <add verb="GET" path="ResourceHandler.ashx" type="UploaderV4.ResourceHandler" />
      <add verb="GET" path="DownloadHandler.ashx" type="UploaderV4.DownloadHandler" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v14.2, Version=14.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" validate="false" />
    </httpHandlers>
    <httpModules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v14.2, Version=14.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </httpModules>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="UploadHandler" verb="POST" path="UploadHandler.ashx" type="UploaderV4.UploadHandler" />
      <add name="DownloadHandler" verb="GET" path="DownloadHandler.ashx" type="UploaderV4.DownloadHandler" />
      <add name="ResourceHandler" verb="GET" path="ResourceHandler.ashx" type="UploaderV4.ResourceHandler" />
      <add name="StatusHandler" verb="GET" path="StatusHandler.ashx" type="UploaderV4.StatusHandler" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v14.2, Version=14.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
    </handlers>
    <modules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v14.2, Version=14.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </modules>
  </system.webServer>
  <devExpress>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="" customThemeAssemblies="" />
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <settings doctypeMode="Xhtml" rightToLeft="false" embedRequiredClientLibraries="false" ieCompatibilityVersion="edge" />
    <errors callbackErrorRedirectUrl="" />
  </devExpress>
</configuration>
<!--ProjectGuid: 45D50B31-1D34-473E-A2E9-7F4AA420D130-->