/* Main Navigation 
----------------------------------------------------*/

.pwcTopNav
{
	width: 920px;	
	height: 50px;
	clear: both;
	font-size: 9pt;
	margin-bottom:5px;
}

.pwcTopNav ul
{	
	background-color: #fff;				/* White */
	padding: 0 4px 0 4px;
	margin: 0;
	text-align: left;
	height: 35px;		
}

.pwcTopNav ul li
{
	display: block;
	float: left;
	margin: 0 6px 0 6px;	
	height: 35px;	
	width: 100px;
}

.pwcTopNav ul li.item a
{
	border-top: 4px solid #E7E7E8;		
	display: block;
	color: #6d6e71;						
	padding-top: 2px;
	text-decoration: none;	
	height: 35px;
}

.pwcTopNav ul li.item a:hover, .pwcTopNav ul li.item a.selected {	border-top: 4px solid #515150; color: #515150;	}

.pwcTopNav ul li.endItem a
{
	border-top: 4px solid #F0AE4C;		
	display: block;
	color: #6d6e71;						
	padding-top: 2px;
	text-decoration: none;	
	height: 35px;
	width: 185px;
}

.pwcTopNav ul li.endItem a:hover, .pwcTopNav ul li.endItem a.selected {	border-top: 4px solid #F0AE4C; color: #515150;	}

.pwcTopNav .dropMenuItemSingle
{
	position:relative;
	top: 0;
	border: 1px solid #E7E7E8;			/* light grey */
	border-top: 4px solid #515150;		/* dark grey */	
	background-color: #fff;				
	font-size: 9pt;
	z-index:100;
	width: 190px;
	padding: 10px;
	visibility: hidden;
	overflow:hidden;
}

.pwcTopNav .dropMenuItemMultiple
{
	position:relative;
	top: 0;
	border: 1px solid #E7E7E8;			/* light grey */
	border-top: 4px solid #515150;		/* dark grey */	
	background-color: #fff;				
	font-size: 9pt;
	z-index:100;
	width: 361px;
	padding: 10px;
	visibility: hidden;
	overflow:hidden;
}

.pwcTopNav .dropMenuItemMultiple .dropMenuInner .StartItem
{
	width: 190px;
	display: block;
	float:left;
}

.pwcTopNav .dropMenuItemMultiple .dropMenuInner .MiddleItem
{
	width: 150px;
	display: block;
	float:left;
	padding-left: 10px;	
}

.pwcTopNav .dropMenuItemMultiple .dropMenuInner .EndPictureItem
{
	width: 250px;
	display: block;
	float:left;
	padding-left: 10px;	
}

.pwcTopNav .dropMenuItemMultiple .dropMenuInner .EndPictureItem .ItemImage
{
	padding-bottom: 10px;
}

.pwcTopNav .dropMenuItemMultiple .dropMenuInner .borderRight
{
	padding-right: 10px;
	border-right: 1px solid #E7E7E8;
}

.pwcTopNav .dropMenuItemMultiple .dropMenuInner .paddingRight
{
	padding-right: 10px;
}

.pwcTopNav .dropMenuInner 
{
	margin: 0px;
}

.pwcTopNav .dropMenuInner h1
{
	font-family: Georgia;
	font-style: italic;
	font-weight: bold;
	font-size: 13pt;
	color: #000;	
	margin-top: 0px;
	padding-top: 0px;
	border-top: 0px;
	margin-bottom: 10px;
	width:100%;
}

.pwcTopNav .dropMenuInner h2
{
	font-family: Georgia;
	font-style: normal;
	font-weight: bold;
	font-size: 12pt;
	color: #000;	
	margin-top: 0px;
	padding-top: 0px;
	border-top: 0px;
	margin-bottom: 10px;
	width:100%;
}

.pwcTopNav .dropMenuInner h3
{
	font-family: Georgia;
	font-style: normal;
	font-weight: normal;
	font-size: 12pt;
	color: #6D6E71;	
	margin-top: 0px;
	padding-top: 0px;
	border-top: 0px;
	margin-bottom: 10px;
	width: 100%
}

.pwcTopNav .dropMenuInner p
{
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 9pt;
	color: #6D6E71;	
	margin-top: 0px;
	padding-top: 0px;
	border-top: 0px;
	margin-bottom: 10px;
	width: 100%
}

/*.pwcTopNav div.item {	border-top: 1px dotted #6d6e71;	}*/

.pwcTopNav ul li .dropMenuInner a
{
	font-family:Arial;
	height: 17px;
	display: block;
	border: 0px;
	float: left;
	color: #e0301e;						/* 70% Black */
	font-size: 9pt;
	width: 100%;
}

.pwcTopNav ul li .dropMenuInner a:hover {	border-top: 0px; color: #e0301e; text-decoration: underline; }

* html .pwcTopNav .dropMenuInner a
{ 
	/*IE only hack*/
	width: 100%;
}